.header {
    margin: 5px;
    margin-left: 37%;
    border: black 2px solid;
    background-color: gray;
    width: max-content;
    padding: 1px 10px 1px 10px;
}

nav {
    background-color: grey;
    display: flex;
    width: max-content;
    border-collapse: collapse;
    border-right: black 2px solid;
}
nav div {
    padding: 15px;
    border: black 2px solid;
    border-right: none;
}
nav a {
    text-decoration: none;
    color: #000000;
}

.list-of-options {
    padding: 30px;
}

.list-option {
    padding : 10px;
    list-style: none;
    
}
.list-option a{
    text-decoration: none;
}

.main-container {
    margin: 5px;
    margin-left: 30%;
    padding: 30px;
    border: black 2px solid;
    background-color: rgb(187, 202, 214);
    width: max-content;
}

.table {
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-collapse: collapse;
}
.table th{
    border: 2px solid black;
    padding: 5px;
}

.table td{
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}


.footer {
    margin-left: 37%;
    display:flex;
    background-color: grey;
    width: max-content;
    border-collapse: collapse;
    border-right: black 2px solid;
}

.footer div {
    padding: 10px;
    border: black 2px solid;
    border-right: none;
}